.container {
  // height: 90%;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: white;
  box-shadow: var(--color-box-shadow);

  margin: 8rem auto;
  &_header {
    flex: 0 0 15%;
    border-bottom: 1px solid black;
  }
  &_content {
    flex: 0 0 132rem;
    display: flex;

    .nav {
      flex: 0 0 18%;
      border-right: 1px solid black;
      background-color: var(--color-Grey-dark-1);
    }
    .main {
      flex: 0 0 82%;
      background-color: var(--color-Grey-light-3);
    }
  }
}
